<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="44462michaeldlesk.RiveuNotifications" Publisher="CN=32EE92F9-809A-4D67-8AB3-817D4CEB142E" Version="1.0.0.2" />
  <Properties>
    <DisplayName>Riveu Notifications</DisplayName>
    <PublisherDisplayName>michaeldlesk</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Riveu.Notifications.Windows8.App">
      <VisualElements DisplayName="Riveu Notifications" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Riveu.Notifications.Windows8" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="logoOnly" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>